html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: "Caveat", cursive;
}

#app {
  margin: 2em 0;
  padding: 2em;
  flex: 1 1;
  width: 100%;
  max-width: 32em;
  background-image: url(./dot.svg);
  background-size: 24px;
  background-position: 23px 23px;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}
