* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(240, 240, 240);
}

body {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-family: "Caveat", cursive;
}

#app {
  flex: 1 1;
  width: 100%;
  max-width: 44.6em;
  max-height: minmax(90%, 64.1em);
  background-image: url(./dot.svg);
  background-size: 24px;
  border: 2em solid white;
  background-color: white;
  overflow-y: scroll;
}

@media screen and (min-width: 32em) {
  #app {
    margin: 2em 0;
    padding: 2em;
    box-shadow: 0 0 15px 9px rgba(0, 0, 0, 0.05);
  }
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}
