* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: "Caveat", cursive;
}

#app {
  margin: 2em 0;
  padding: 2em;
  flex: 1 1;
  width: 100%;
  max-width: 44.6em;
  background-image: url(./dot.svg);
  background-size: 24px;
  border: 2em solid white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}
